* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

html, body {
    height: 100%;
}

.navbar {
    position: sticky;
    top: 0;
    box-shadow: 0px 4px 8px #20202088;
    white-space: nowrap;
    overflow: auto;
}

.navbar-item, .navbar-logo {
    position: relative;
    display: inline-block;
    padding: 16px;
    color: #242424;
    transition: 0.2s;
}

.navbar-item:hover {
    color: #efefef;
}

.navbar-item:after {
    content: '';
    position: absolute;
    background-color: #242424;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    transition: 0.2s;
    z-index: -1;
}

.navbar-item-active:before {
    content: '';
    position: absolute;
    background-color: #242424;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    z-index: -2;
}

.navbar-item:hover:after {
    left: 0;
    width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
	transition: 0.15s;
}

a:hover {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	color: inherit;
}

.underline {
    position: relative;
    font-weight: 600;
}

.underline:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    transition: 0.2s;
    background-color: #242424;
}

.underline:hover:after {
    left: 0;
    width: 100%;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.spacer {
    flex: 1;
    flex-grow: 1;
}

.content-container {
    display: flex;
    flex-direction: row;
}

.content {
    margin: 12px;
    padding: 24px;
    box-shadow: 0px 2px 8px #20202088;
    border-radius: 12px;
    max-width: 720px;
}

.content * {
    margin-top: 6px;
    margin-bottom: 6px;
}

.content *:first-child {
    margin-top: 0;
}

.content *:last-child {
    margin-bottom: 0;
}

h2 {
    text-align: center;
}

p {
    text-align: justify;
}

input[type=text] {
    width: calc(100% - 16px);
	position: relative;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
	border: none;
	border-radius: 4px;
	padding: 8px;
	transition: 0.2s;
	background-color: #e0e0e0;
	color: #242424;
	box-shadow: 0px 0px 0px #20202088;
	text-align: center;
}

input[type=text]::placeholder, input[type=password]::placeholder {
	color: #444;
	transition: 0.15s;
	transform-origin: left;
}

input[type=text]:hover, input[type=password]:hover {
	cursor: text;
	box-shadow: 0px 0px 2px #20202088;
}

input[type=text]:focus, input[type=password]:focus {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
	box-shadow: 0px 0px 4px #242424;
}

input[type=text]:focus::placeholder, input[type=password]:focus::placeholder {
	color: #666;
}

input[type=text]:active, input[type=password]:active {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
}

input[type=text]:disabled, input[type=password]:disabled {
	opacity: 0.5;
}

mono, by {
    font-family: "IBM Plex Mono", monospace;
}

mono {
    padding: 4px;
    border-radius: 4px;
    background-color: #242424;
    color: #e0e0e0;
}

by {
    font-size: 14px;
}

.button {
    border-radius: 4px;
    background: none;
    padding: 6px;
    transition: 0.2s;
    text-align: center;
    border: 2px solid #242424;
    cursor: pointer;
}

.button p {
    text-align: center;
}

.button:hover {
    background-color: #242424;
    color: #efefef;
}

#scrape-button, #copy-button {
    font-weight: 500;
}

.progress-bar {
    background-color: #aaa;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    height: 18px;
}

.progress-bar-progress {
    position: absolute;
    width: 0;
    height: 100%;
    transition: 0.2s;
    background-color: #242424;
}

.progress-bar-text {
    position: relative;
    font-size: 10px;
    top: 50%;
    right: 4px;
    transform: translateY(-50%);
    float: right;
    color: #e0e0e0;
}

.error {
    display: none;
    color: #ef2424;
    text-shadow: 0px 0px 4px #ef2424;
    font-weight: 600;
    text-align: center;
}

.file-view {
    height: 128px;
}

.file-view textarea {
    resize: none;
    width: calc(100% - 4px);
    height: 100%;
    font-family: "IBM Plex Mono", monospace;
    font-size: 12px;
}

#response {
    display: none;
}