{% extends "base.jinja" %}
{% block title %} About CeneoScraper {% endblock %}

{% block content %}
    <h2>About CeneoScraper <by>by fililip</by></h2>
    <p>Created using <mono>flask</mono>, <mono>requests</mono>, <mono>beautifulsoup4</mono>, <mono>translate</mono></p>
    <p>Open source on <a class="underline" href="https://gitlab.com/fililip/ceneowebscraper" target="_blank">GitLab</a></p>
{% endblock  %}

{% block script %}{% endblock %}