<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/root.css">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="container">
            {% include "navbar.jinja" %}
            <div class="spacer"></div>
            <div class="content-container">
                <div class="spacer"></div>
                <div class="content">
                    {% block content %}
                    {% endblock %}
                </div>
                <div class="spacer"></div>
            </div>
            <div class="spacer"></div>
        </div>
        {% block script %}{% endblock %}
    </body>
</html>