{% extends "base.jinja" %}

{% block title %} CeneoScraper {% endblock %}

{% block content %}
    <h2>CeneoScraper</h2>
    <p>Type in a product ID below and click the <b>Scrape</b> button to obtain your JSON file with all scraped reviews.</p>
    <input type="text" placeholder="Product ID" id="product-id">
    <div class="button" id="scrape-button">
        <p>Scrape</p>
    </div>
    <div class="progress">
        <div class="error" id="error"></div>
        <div class="progress-bar" id="scrape-progress-bar">
            <div class="progress-bar-progress">
                <p class="progress-bar-text"></p>
            </div>
        </div>
        <div id="response">
            <div class="file-view" id="file-view">
                <textarea disabled="1"></textarea>
            </div>
            <div class="button" id="copy-button">
                <p>Copy to clipboard</p>
            </div>
            <div style="margin-top: 12px;">
                <h2>Analytics</h2>
                <div class="canvas-container"></div>
            </div>
        </div>
    </div>
{% endblock  %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/static/js/index.js"></script>
{% endblock %}