<div class="navbar">
    <div class="navbar-logo"><h4>CeneoScraper</h4></div>
    <a href="/"><div class="navbar-item {{'navbar-item-active' if page == 'home' }}">Home</div></a>
    <a href="/about"><div class="navbar-item {{'navbar-item-active' if page == 'about' }}">About</div></a>
</div>